.cards {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: calc(3 * 282px + 2 * 30px);
}

@media screen and (max-width: 544px) {
  .cards {
    padding: 15px 0 18px;
  }
}
